sudo: required
language: generic
services:
  - docker

before_install:
 - docker build -t mahirchavda/docker-react -f Dockerfile.dev .

script:
 - docker run -e CI=true mahirchavda/docker-react npm run test